{% extends 'base.html' %} {% block content %} {% load static %}

<!-- Legal notice -->
<header class="masthead">
  <div class="container h-100">
    <div
      class="row h-100 align-items-center justify-content-center text-center">
      <div class="col-lg-10 align-self-end">
        <h1 class="text-white font-weight-bold">Mentions légales</h1>
      </div>
    </div>
  </div>
</header>
<section class="page-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 mx-auto">
        <p>
          Site réalisé par <a href="https://github.com/Blankxx420">Blankxx</a> dans le
          cadre du projet scolaire du parcours Développeur d'application Python
          d'
          <a href="https://openclassrooms.com/fr/paths" target="_blank"
            >Openclassrooms</a
          >.
        </p>

        <ul>
          <li>
            <span class="font-weight-bold">Thème :</span>
            <a
              href="https://startbootstrap.com/themes/creative/"
              target="_blank"
              >Template Bootstrap Creative</a
            >
          </li>
          <li>
            <span class="font-weight-bold">Données des produits:</span> API
            <a href="https://world.openfoodfacts.org/data" target="_blank"
              >OpenFoodFacts</a
            >
          </li>

          <li>
            <span class="font-weight-bold"
              >Ressources graphiques pour les icônes:</span
            >
            <a href="https://fontawesome.com/" target="_blank">Font Awesome</a>
          </li>

          <li>
            <span class="font-weight-bold">Hébergeur :</span>
            <a href="https://www.heroku.com/">Heroku</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock content %}