{% extends 'base.html' %}
{% block content %}{% load static %}

<!-- Products -->
 <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-white font-weight-bold">{{ title }}</h1>

                </div>
                <div class="col-lg-8 align-self-baseline">

                </div>
            </div>
        </div>
    </header>
<section class="page-section bg-light" id="products">
  <div class="container">
    <div class="row">
      {% if products %}
      <div class="col-12">
        <h3 class="text-center"> Voici le résultat de votre recherche :</h3>
      </div>
      {% for product in products %}

      <div class="col-lg-4 col-md-12">
        <div class="card mx-1 my-3 shadow p-3 mb-5 bg-white rounded">
          <img
            class="card-img-top"
            src="{{ product.url_image}}"
            alt="image du produit" />
          <span class="card-score-{{ product.nutrition_score }}">
              {{ product.nutrition_score }}
          </span>

          <div class="card-body text-center">
            <a href="{% url 'search:product' product.id %}" target="_blank">
              <p class="card-title">{{ product.name }}</p>
            </a>
            <a href="{% url 'search:substitutes' product.id %}" class="btn btn-primary"> Substituer </a>
          </div>
        </div>
      </div>
      {% endfor %} {% else %}
      <div class="text-center col-12">
        Désolé, nous n'avons pas trouvé de produit correspondant à votre
        recherche. Une autre recherche en tête ?
        <div class="p-3">
          <a href="{% url 'search:home' %}" class="btn btn-primary">
            C'est par ici.
          </a>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endblock  %}