{% extends 'base.html' %} {% block content %} {% load static %} {% load crispy_forms_tags %}

<!-- Reset password -->
<header class="password-reset">
  <div class="container h-100">
    <div
      class="row h-100 align-items-center justify-content-center text-center"
    >
      <div class="col-lg-10 align-self-end">
        <h1 class="text-uppercase text-white font-weight-bold">
          Mot de passe oublié ?
        </h1>
        <hr class="divider my-4" />
      </div>
    </div>
  </div>
</header>

<section class="page-section bg-light" id="login">
  <div class="container">
    <p>Un email vous a été envoyé avec succès à l'adresse email indiquée. Veuillez
    consulter votre boîte de réception pour continuer.</p>

    <p>N'oubliez pas de vérifier vos spams.</p>
  </div>
</section>
{% endblock %}